
  .category {
    margin: 20px 0px;
    padding: 0px 30px;
  }

  .category_wrapper {
    max-width: 120px;
    width: 90%;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.62);
  }

  .category_wrapper ons-icon {
    font-size: 55px;
    padding-top: 10px;
    line-height: 0.75em;
  }

  .category_thumbnail {
    display: inline-block;
    margin: 16px 0px;
  }

  .category_title {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
  }